* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../img/images/marquee.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 35vh;
    color: var(--fondo );
}

#notfound {
    color: var(--fondo);
}

.card {
    background-color: var(--colorlogo);
}

p, button {
    font-size: 1.10vw;
    margin: 1.5vh;
    width: 12vw;
    height: 5.5vh;
    transition: none;
}   


