* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../img/images/marquee.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 35vh;
    color: var(--fondo );
}

.card {
    background-color: var(--colorlogo);
    border-radius: 2.5rem;
}

.texto {
    text-align: center;
    width: 100%;
}

p, .btn {
    font-size: 1.5vw;
    margin: 1.5vh;
    width: 12vw;
    height: 5.5vh;
}

.btn {
    background-color: var(--verde);
    transition: none;
    border-radius: 2.5rem;
}

#ups {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

#notfound {
    font-size: 4vw;
    color: var(--fondo);
}
