/* Tipografias */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Passion+One:wght@400;700;900&display=swap");

:root {
  --fondo: #fff;
  --verde: #41a50c;
  --verdeclaro: #bdc471;
  --verdeazul: #7fa59e;
  --grisclaro: #d9d9d9;
  --negro: #131313;
  --gris: #505050;
  --colorlogo: #2c4c46;
  --gristarjeta: #F4F6F6;
  --hoverinput: #dfe4e3;
  --amarillo: #fec034;
  --hover-scale-sm: 1.02;
  --hover-scale-md: 1.05;
  --hover-scale-lg: 1.08;
  --hover-scale-xl: 1.1;
  --hover-opacity-sm: 0.9;
  --hover-opacity-md: 0.8;
  --hover-opacity-lg: 0.7;
  --hover-opacity-xl: 0.6;
  --hover-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --hover-shadow-md: 0 2px 4px rgba(0, 0, 0, 0.15);
  --hover-shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.2);
  --hover-shadow-xl: 0 6px 12px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
}
html,
body {
  background-color: var(--fondo);
}

body,main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2,
h3,
h4,
h5,
p {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--negro);
  font-family: "Dm Sans", sans-serif;
  transition: ease-in-out 0.2s;
}

header a:hover {
color: var(--verde);
}

button {
  text-decoration: none;
}

h1 {
  color: var(--negro);
  font-family: "Passion One";
  font-size: 5.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  margin: 0;
}
p {
  font-family: "DM Sans", sans-serif;
}

.btn, .boton{
  font-family: "DM Sans", sans-serif;
  border-radius: 0.75rem;
  background-color: var(--colorlogo);
  color: #fff;
  display: flex;
  width: fit-content;
  height: 2.625rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  transition: ease-in-out 0.3s;
  border: none;
  cursor: pointer;
  
}



.btn:hover {
  background-color: var(--verde);
}


.btn:disabled {
  background-color: var(--verdeclaro);
}




.yellow-btn{
  font-family: "DM Sans", sans-serif;
  border-radius: 0.75rem;
  background-color: var(--amarillo);
  color: var(--negro);
  display: flex;
  width: fit-content;
  height: 2.625rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  transition: ease-in-out 0.3s;
  border: none;
  cursor: pointer;
  
}



.card {
  border-radius: 0.875rem;
  background: var(--gristarjeta);
  width: 100%;
}

.card-oscura {
  border-radius: 0.875rem;
  background: var(--grisclaro);
  padding: 2rem 4rem;
  width: 100%!important;
}

.titulo-card {
  font-size: 3rem;
  color: var(--fondo);
}

.card-oscura input {
  margin: 1rem 0;
}

/* Menu */

#menu {
  width: 85%; max-width:1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  padding: 1rem 0;
}

.logo-menu {
  width: fit-content;
}
.logo-menu img {
  height: 3rem;
  width: auto;
}

.items-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  flex-wrap: wrap;
  gap: 2rem;
  height: fit-content;
}

.circle {
  position: relative;
  display: inline-block;
  padding-bottom: 8px; /* Espacio para el punto */
}

.circle::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--verde);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.circle:hover::after {
  opacity: 1;
}

.iconos-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.anchor-bg a {
  padding: 0.7rem;
  color: white;
  background-color: var(--colorlogo);
  border-radius: 10px;
}
.anchor-bg a:hover {
  color: white !important;
  background-color: var(--verde);
}

.icons-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1rem;
  gap: 1rem;
}


.iconos-menu{
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carrito{
  background-image: url(../img/icons/Carrito.svg);
}

.perfil{
background-image: url(../img/icons/Perfil.svg);
}

.carrito:hover{
  background-image: url(../img/icons/CarritoClick.svg);
}

.perfil:hover{
background-image: url(../img/icons/PerfilClick.svg);
}


/* marquee */

#hoja {
  height: 1rem;
  width: 1rem;
  background: url("../img/icons/hoja.svg") no-repeat center center;
  background-size: contain;
}

.random-marquee {
  display: flex;
  flex-wrap: nowrap;
  background: url(../img/images/marquee.webp) no-repeat center center;
  background-size: cover;
  font-family: "Passion One", Arial, Helvetica, sans-serif;
  color: var(--fondo);
  font-size: 2rem;
  padding: 1.6rem 0;
}

.random-marquee-solid {
  margin: 2rem 0; 
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--colorlogo);
  font-family: "Passion One", Arial, Helvetica, sans-serif;
  color: var(--fondo);
  font-size: 2rem;
  padding: 1.6rem 0;
  font-weight: 100;
}


/* footer */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--colorlogo);
  padding: 1rem 0;
}

.menu-footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.links {
  flex-wrap: wrap;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 3rem;
}

.links a {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: var(--fondo);
}

.p-white {
  font-size: 1.2rem;
  color: var(--fondo);
  text-align: center;
  font-weight: 500;
}

.politics {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
.politics a {
  color: var(--fondo);
}

.footer-icons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  color: white;
}

/* Newsletter */

#titulo-newsletter{
  font-family: "Passion One";
  color: var(--colorlogo);
  font-weight: 400;
  font-size: 3.5rem;
  width: 100%;
}

.newsletter {
  background-image: url(../img/images/pexels-scottwebb-403575%201.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%; max-width:1200px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;
  border-radius: 50px;
  margin-bottom: 2rem;
  height: 45vh;
}

.contenedor-newsletter{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  padding: 0 0 0 0.6rem;
  height: 2.8rem;
  border-radius: 10px;
  border: 1px solid #2C4C46;
  background: #EAEDEC;
  width: 100%;
  font-size: 0.9rem; 
  font-family: 'DM Sans', sans-serif; 
  color: #2C4C46;
}

.contenedor-boton{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.contenedor-inputs{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Checkbox */

.custom-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-checkbox input {
  display: none; /* Oculta el checkbox original */
}

.custom-checkbox span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 0.3125rem;
  border: 1px solid #2C4C46;
  background: #2C4C46;
  cursor: pointer;
  position: relative;
}

.custom-checkbox svg {
  display: none; 
}

.custom-checkbox input:checked + span svg {
  display: block; /* Muestra el SVG cuando está marcado */
}

.white-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-checkbox input {
  display: none; /* Oculta el checkbox original */
}

.white-checkbox span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 0.3125rem;
  border: 1px solid #2C4C46;
  background: transparent; /* Fondo transparente por defecto */
  cursor: pointer;
  position: relative;
}

.white-checkbox svg {
  display: none; 
}

.white-checkbox input:checked + span {
  background: #2C4C46; /* Fondo verde cuando está marcado */
}

.white-checkbox input:checked + span svg {
  display: block; /* Muestra el SVG cuando está marcado */
}

/* Opiniones */

/* Opiniones */

.contenedor-opiniones {
  margin: 3rem 0;
  width: 100%;
  background-color: #2C4C46;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 0;
}

.titulo-opiniones {
  color: #FFF;
  font-family: "Passion One", sans-serif;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 85%; max-width:1200px;
  text-align: left;
  width: 50%;
}

.colapse-titulo-opiniones{
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.opinion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid white;
  border-radius: 40px;
  padding: 3rem;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name-user {
  color: #FFF;
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}

.descripcion-reseña {
  color: #FFF;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

/* Slider */

.slider-wrapper {
  width: 85%; max-width:1200px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #2C4C46;
  border-radius: 40px;
  padding: 2rem 0;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1rem;
}

/* Cada reseña ocupa el 50% del ancho del slider */
.slider .opinion {
  flex: 0 0 50%;
  box-sizing: border-box;
}

/* Dots de navegación */

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1;
}

.hover-img {
  position: relative;
}

.hover-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.016);
  transition: background-color 0.3s ease;
}

.hover-img:hover::after {
  background-color: rgba(0, 0, 0, 0.238);
  cursor: pointer;
}

.linea:hover{
  text-decoration: underline;
}