
section {
  width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--colorlogo);
  font-family: "Passion One";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}

.contenedor-card {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.875rem;
  background: var(--fondo);
}

#img-card {
  background-image: url(../img/images/pexels-scottwebb-403575\ 1.webp);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.card-oscura {
  width: 90%;
  height: fit-content;
  background: var(--grisclaro);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 4rem;
}

.card-oscura input {
  margin: 1rem 0;
}

.titulo-card {
  font-size: 3rem;
  color: var(--colorlogo);
  width: fit-content;
  margin: 0 0 2rem 0;
}

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 50%;
  gap: 1rem;
  height: fit-content;
}


.input-container {
  position: relative;
  width: 100%;
}

label{
  margin: 0;
  padding: 3px 0;
}
.input-container input {
  border: 1px solid black;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 4rem;
  padding: 14px 0 0 20px;
  /* Ajusta otros estilos de input según tus necesidades */
}

/* Inicialmente, el label se centra verticalmente en el input */
.input-container label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
  transition: all 0.2s ease-out;
  padding: 0 0.2rem;
  font-family: 'DM Sans';
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 1px;
  transform: none;
  font-size: 0.8rem;
  
}


.opciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.boton {
  width: 9.5rem;
}

.contenedor-registrarse a,
.opciones p {
  color: var(--colorlogo);
}

.contenedor-registrarse {
  width: 50%;
  margin-top: 3rem;
  text-align: center;
}
input{
  margin: 0!important;
}