/* Tipografias */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Passion+One:wght@400;700;900&display=swap");

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--colorlogo);
  font-family: "Passion One";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.contenedor-card {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.875rem;
  background: var(--fondo);
}

#img-card {
  background-image: url(../img/images/pexels-scottwebb-403575\ 1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-oscura {
  width: 90%;
  height: 50vh;
  padding: 2rem 4rem;
  background: var(--grisclaro);
  border-radius: 0.875rem;
}

.card-oscura input {
  margin: 1rem 0;
}

.titulo-card {
  font-size: 3rem;
  color: var(--colorlogo);
}

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 80vw;
}

.opciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 60%;
}
.opciones p {
  color: var(--colorlogo);
}
.opciones p,
.opciones button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

input {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 1rem;
}

.contenedor-boton {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.contenedor-inputs {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
