/* ETIQUETAS */
h3{
    color: #2C4C46;
    font-family: "DM Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 25px */
    margin-left: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    font-family: "Passion One";
    color: var(--colorlogo);
    font-size: 2.5rem;
    font-weight: 400;
}

hr {
    width: 100%;
}

/* REPRODUCTOR */

.reproductor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    gap: 2rem;
}

/* ------------------------------------------------ */

.tituloReproductor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    width: 90%;
    gap: 2rem;
}

/* ------------------------------------------------ */

.video {
    width: 90%;
    height: 65vh;
    background-image: url("../img/images/pexels-cottonbro-4503750.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
}

#play-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 14px;
    overflow: hidden;
}

#play-icon {
    transition: ease-in-out 0.3s;
}

#play-icon:hover {
    cursor: pointer;
    scale: 1.04;
}

/* ------------------------------------------------ */

.button-caps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.btn {
    width: fit-content;
}

#button-left {
    background-color: var(--gris);
}

/* LISTA CAPITULOS */

.info-instruciones{
    width: 90%;
    text-align: left;
    color: #2C4C46;
    font-family: "Passion One";
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 39px */
    margin: 2rem 0rem;
}

.card{
    width: 90%;
    padding: 40px;
    margin-bottom: 5rem;
    border-radius: 40px;
}

#card{
margin: 5rem 0;
}

.linea {
    background: #A6A6A6;
    height: 1px;
    margin: 2rem 0rem;
}

.producto-card{
    display: flex;
    width: 367px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 30px;
}

.info-productos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor-info p{
    color: #292929;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1rem;
}

.instruciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

