.contenedor-titulo{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    padding: 0rem 1rem;
}

.titulo{
    width: 40%;
}

.titulo h1{    
    color: #2C4C46;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 61px */
}

.iconos{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.iconos img{
    width: 100px;
    height: 100px;
}

.metodo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 1rem;
}

#oferta{
    background-color: #FEC034;
    border-radius: 20px;
    padding: 5px 10px;
}

.tarifas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nombre-tarifa{
    color: #2C4C46;
    font-family: "Passion One";
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 39px */
}


.card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
background-color: var(--fondo);
gap: 2rem;
}

#mejor-opcion{
    background-color: #FEC034;
    border-radius: 20px;
    padding: 5px 10px;

}

.titulo-tarifa{
text-align: center;
}

.titulo-tarifa h2 {
margin-bottom: 2rem;
}

.contenedor-precio{
    text-align: center;
}

.precio{
    color: #41A50C;
    text-align: center;
    font-family: "DM Sans";
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 54.6px */
}

.contenedor-ventajas{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.ventaja{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn{
    width: 5%;
}

.contenedor-cursos-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.contenedor-cursos-top h2{
    color: #2C4C46;
    font-family: "Passion One";
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 61px */ 
    width: 100%;
    text-align: left;
}

.cursos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.curso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.curso p{
    color: #292929;
    text-align: center;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22px */}

.curso img{
    border-radius: 50px;
}

.contenedor-opiniones{
    background-color: #2C4C46;
    border-radius: 40px;
    padding: 3rem;
    margin: 10rem;
}

.titulo-opiniones{
    color: #FFF;
    font-family: "Passion One";
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 61px */
}

.opiniones{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.opinion{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    border: 1px solid white;
    border-radius: 40px;
    padding: 3rem;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name-user{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%; /* 45px */
}

.descripcion-reseña{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 28.8px */
}

.newsletter{
    width: 94%;
    margin: 5rem 5rem;
}